<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> <%= I18n.t('prohibited_this_message_from_being_saved')%></h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('employee') %><br>
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label I18n.t('url') %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label I18n.t('email') %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label I18n.t('commit') %><br>
    <%= f.text_area :commit %>
  </div>
  <div>
    <%= f.label :aasm_state %><br>
    <%= f.text_field :aasm_state %>
  </div>
  <div>
    <%= I18n.t('time_now')%> <%= Time.now %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
