<p id="notice"><%= notice %></p>

<p>
  <strong> employee:</strong>
  <%= @message. employee %>
</p>

<p>
  <strong>Url:</strong>
  <%= @message.url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Commit:</strong>
  <%= @message.commit %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
