<p><%= I18n.t('Hello')%><%= @resource.email %>!</p>

<p><%= I18n.t('request_reference_to_Password_recovery')%></p>

<p><%= link_to I18n.t('change_my_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= I18n.t('unless_you_request')%></p>
