<p><%= I18n.t('Hello')%><%= @resource.email %>!</p>

<p><%= I18n.t('lock_message')%></p>

<p><%= I18n.t('click_unlock')%></p>

<p><%= link_to I18n.t('unlock_my_account'), unlock_url(@resource, :unlock_token => @token) %></p>
